
<style>

h1 {
    font-style: bold;
    font-size: xx-large;
} 

h1 {
    text-align: center;
    font-family: 'Abril Fat Face';
}

p {
    text-align: center;
    font-family: "Open Sans";
}

h2 {
    color: white;
    font-family: 'Abril Fat Face';
}

h3 {
    text-align: center;
    font-family: 'Open Sans';
    font-size: medium;
}

button {
    background-color: #A0C3F6; 
  color: white;
  padding: 16px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  }
  
  button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
   button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }

</style>


<main>














</main>





