*
{
    margin: 0;
    padding: 0;
}
#particles-js{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://i.pinimg.com/originals/96/bb/de/96bbdef0373c7e8e7899c01ae11aee91.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}


<style>


h1 {
    font-style: bold;
    font-size: xx-large;
    text-shadow: 2px 2px #000000;
} 

h1 {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p {
    text-align: center; 
}

p {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
}

h2 {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h3 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h4 {
    color: black;
    font-family: 'Raleway', sans-serif;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}


 button{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid rgb(0, 0, 0);
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:rgb(0, 0, 0);
    text-align:center;
    transition: all 0.2s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
    
button:hover{
    color:#000000;
    background-color:rgb(180, 177, 177);
    }
 
input {
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;
    font-size: small;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}


</style>


<main>














</main>





